.labelHouse {
  font-size: 20px;
  color: white;
}
.inputHouse {
  height: 40px;
  width: 300px;
  font-size: 20px;
  color: white;
  border: 2px solid rgb(198, 167, 89);
  border-radius: 5px;
  background-color: gray;
  padding-left: 15px;
}
